@import "@/assets/scss/_variables.scss";
.address-header {
  margin-bottom: 10px;

  .address-tip {
    margin-left: 10px;
    font-size: 12px;
    .address-number {
      color: map-get($colors, "primary");
    }
  }
}

.address-col {
  margin: 0 30px 10px 0;
  border: 1px solid map-get($colors, "light-grey-1");

  &:hover {
    border: 1px solid map-get($colors, "primary");
  }

  .ads-title {
    padding: 10px 10px 4px 10px;
    .ads-name {
      color: map-get($colors, "black-1");
    }

    .ads-del {
      font-size: 16px;
    }
  }

  .address-container {
    position: relative;
    margin-right: 10px;
    padding: 10px 10px 10px 20px;

    .address-item {
      font-size: 12px;
      padding: 1px 0;
      line-height: 22px;

      span {
        width: 60px;
        color: map-get($colors, "grey");
        text-align: right;
      }
    }

    .address-operate {
      position: absolute;
      right: 10px;
      bottom: 14px;

      a {
        font-size: 12px;
        margin-left: 10px;

        &:hover {
          color: map-get($colors, "primary");
        }
      }
    }
  }
}
