@import "@/assets/scss/_variables.scss";
.personal-selector {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid map-get($colors, "light-grey-1");
}

.personal-selector > ul,
.personal-selector > ul li {
  height: inherit;
  box-sizing: border-box;
}

.personal-selector > ul,
.personal-selector div {
  display: inline-block;
}

.personal-selector > ul {
  li {
    position: relative;
    padding: 6px 0;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;

    &::before {
      border-bottom: 2px solid map-get($colors, "primary");
      transform: scale(0);
    }

    .m-icons {
      margin-right: 5px;
      vertical-align: -2px;
    }
  }

  li.active {
    color: map-get($colors, "primary");
    border-bottom: 2px solid map-get($colors, "primary");
    border-collapse: collapse;
  }
}

.personal-selector > ul li:after,
.personal-selector > ul li:before {
  content: "";
  box-sizing: inherit;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: inherit;
  width: 100%;
  transform-origin: center;
}

.personal-selector > ul li + li {
  margin-left: 40px;
}

.personal-main {
  min-height: 500px;

  .m-exception {
    padding-top: 120px;
  }
}

.m-exception {
  text-align: center;

  .e-img {
    width: 153px;
    height: 132px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-origin: center center;
    background-size: 100%;
  }

  .e-info {
    margin-top: 24px;
    color: map-get($colors, "black-1");
  }
}

.m-no-login .e-img,
.m-no-order .e-img {
  background-image: url("//cdn.cnbj1.fds.api.mi-img.com/youpin-pc/production/YouPin_PC/static3/media/no-order.0bcc8929.png");
}

.order-list {
  margin-top: 10px;
}

.row-header {
  background: map-get($colors, "light-grey-2");
  height: 31px;
  line-height: 31px;
  

  span {
    float: left;
    padding: 2px 0 0;
  }

  .row-header-date {
    padding-left: 10px;
    margin-right: 10px;
    font-weight: 700;
  }

  .row-header-number {
    min-width: 226px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .row-header-shop {
    display: inline-block;
    vertical-align: middle;
    max-width: 124px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }

  .icon-lianximaijia {
    margin: 0 0 0 5px;
    color: map-get($colors, "primary");
  }

  .m-icons {
    float: right;
    margin-right: 15px;
    margin-top: 8px;
  }
}

.content-goods {
  margin-top: 41px;

  .goods-img {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;

    img {
      width: 100%;
    }
  }

  .goods-name {
    float: left;
    max-width: 200px;
  }

  .goods-price {
    float: left;
    max-width: 80px;
  }
}

.cell-oprate {
  
  display: inline-block;
  color: map-get($colors, "grey-1");
  cursor: pointer;

  &:hover {
    color: map-get($colors, "primary");
  }
}

.content-item {
  height: 80px;
  line-height: 80px;
  margin-top: 41px;
}
