@import "./variables";

// reset
// * {
//   margin: 0;
//   padding: 0;
// }

// html,
// body {
//   font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
//     Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
//   line-height: 1.2em;
//   //   background: rgb(244, 244, 244);
//   background: map-get($colors, "grey-1");
//   -webkit-font-smoothing: antialiased;
//   color: #333;
//   font-size: 14px;
// }

// a {
//   font-style: normal;
//   text-decoration: none;
//   color: #666666;
//   cursor: pointer;
//   transition: all 0.15s ease-out;

//   &:hover {
//     color: map-get($colors, "bule-1");
//   }
// }

// p {
//   line-height: 1.5em;
// }

@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }

  .bg-#{$colorKey} {
    background-color: $color;
  }
}

//text align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}

@each $sizeKey, $size in $font-size {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

//text overflow
.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// width, height
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

//flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}

@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

// m-0, mx-0
@each $typeKey, $type in $spacing-types {
  // .m-1
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }

    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  // .mt-1
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

//borders
@each $dir in (top, right, bottom, left) {
  .border-#{$dir} {
    border-#{$dir}: 1px solid $border-color;
  }
}

//float
.fl {
  float: left;
}

.fr {
  float: right;
}

//清除浮动
.clearfix {
  overflow: unset;

  &:after,
  &:before {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

//line-height
@each $key, $size in $height-sizes {
  .lg-#{$key} {
    line-height: $size * $base-font-size;
  }
}

//btn-size
.m-btns {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  color: map-get($colors, "grey-1");
  border: 1px solid map-get($colors, "grey-1");
  box-sizing: border-box;
  padding: 0 6px;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.m-btn-xs {
  min-width: 70px;
  height: 28px;
  line-height: 26px;
  font-size: 13px;
}

.m-btn-middle {
  min-width: 167px;
  height: 52px;
  line-height: 50px;
  font-size: 20px;
}

//btn-type
.m-btn-blue {
  color: map-get($colors, "white");
  background-color: map-get($colors, "primary");
  border-color: map-get($colors, "primary");

  &:hover {
    color: map-get($colors, "white");
    background-color: map-get($colors, "light-blue");
    border-color: map-get($colors, "light-blue");
  }
}

.m-btn-gray {
  color: map-get($colors, "grey");
  border: 1px solid map-get($colors, "light-grey");

  &:hover {
    color: map-get($colors, "white");
    background-color: map-get($colors, "primary");
    border-color: map-get($colors, "primary");
  }
}

.m-btn-blue-stroke {
  color: map-get($colors, "primary");
  border-color: map-get($colors, "primary");

  &:hover {
    color: map-get($colors, "white");
    background-color: map-get($colors, "primary");
    border-color: map-get($colors, "primary");
  }
}

//spirit
.m-icons {
  display: inline-block;
  background-image: url("https://cdn.cnbj1.fds.api.mi-img.com/youpin-pc/production/YouPin_PC/static3/media/yp-icons@2x.12970990.png");
  background-size: 85px 2585px;
}
//收藏
.m-icons-collection {
  width: 30px;
  height: 30px;
  background-position: 0 -930px;
}
//客服
.m-icons-service {
  width: 16px;
  height: 16px;
  background-position: 0 -231px;
}
.m-icons-service-detail {
  width: 30px;
  height: 30px;
  background-position: 0 -1576px;
}
//向下箭头
.m-icons-user-active {
  width: 30px;
  height: 30px;
  background-position: 0 -726px;
}

//个人中心
.m-icons-per-user {
  width: 54px;
  height: 54px;
  background-position: 0 -2294px;
}

//删除
.m-icons-trash-hover {
  width: 15px;
  height: 16px;
  background-position: 0 -311px;
}

.container {
  width: 1080px;
  margin: 0 auto;
}


.secondary-nav {
  padding: 30px 0;
  width: 100%;
  display: block;
  background: transparent repeat 0 0 none;
  font-size: 13px;

  span {
    a {
      margin: 0 6px;
      cursor: pointer;
      color: map-get($colors, "black");

      &:hover {
        color: map-get($colors, "primary");
      }
    }

    &:first-child a {
      margin-left: 0;
    }

    &::after {
      content: ">";
    }

    &:last-child::after {
      content: "";
    }

    &:last-child a {
      color: map-get($colors, "grey");
      cursor: pointer;
    }
  }
}

.secondary-nav.active span:last-child a,
.secondary-nav.active span:last-child a:active,
.secondary-nav.active span:last-child a:focus,
.secondary-nav.active span:last-child a:hover,
.secondary-nav.active span:last-child a:visited,
.secondary-nav span:last-child a:hover {
  color: map-get($colors, "primary");
}

