@import "@/assets/scss/_variables.scss";
.payment {
  margin-bottom: 20px;

  .order-info {
    padding: 30px;

    .order-info-left {
        color: map-get($colors, "black-1");
        font-family: Microsoft Yahei;
        font-size: 14px;
    }

    .order-info-right {
      .pay-price {
        display: inline-block;
        font-size: 18px;
        color: map-get($colors, "red");
        padding-right: 4px;
        box-sizing: border-box;
      }

      em {
          font-style: normal;
      }
    }
  }

  .pay-cashier {
    width: 100%;
    background: map-get($colors, "white");
    box-shadow: 0 6px 32px rgb(0 0 0 / 13%);
    padding: 10px 30px 20px 30px;
    box-sizing: border-box;

    .pay-title {
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .pay-pattern {
      width: 88px;
      height: 30px;
      img {
        background-size: 88px 30px;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
      }
    }
  }

  .trade-btn {
      text-align: right;
      margin: 20px 30px;
  }
}
