@import "@/assets/scss/_variables.scss";
.detail-content {
  overflow: hidden;
  width: 1080px;
}

.info {
  width: 774px;
  box-sizing: content-box;
}

.fl {
  float: left;
}

.nav-title {
  width: 774px;
  background-color: #e7e7e7;
  z-index: 5;
  height: auto;

  .info-nav {
    height: 13px;
    overflow: hidden;
    padding: 16px 0 13px;

    .info-nav-item {
      float: left;
      height: 13px;
      width: 128px;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: rgb(204, 204, 204);
      line-height: 13px;
      font-size: 13px;
      text-align: center;

      &:last-child {
        border-right-color: transparent;
        width: 128px;
      }
    }
  }

  .nav-arr-container {
    height: 2px;
    position: relative;

    .nav-arr {
      position: absolute;
      height: 2px;
      background-color: #5079d9;
      transition: left 0.2s linear;
    }
  }
}

.main-body {
  max-width: 774px;
  min-height: 900px;

  .comment-no-data {
    margin-top: 20px;

    .no-result {
      text-align: center;

      .no-comment-img {
        width: 153px;
        height: 132px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("//cdn.cnbj1.fds.api.mi-img.com/youpin-pc/production/YouPin_PC/static3/media/no_result.74fcdcf7.png");
      }

      .no-comment-info {
        margin-top: 24px;
        color: map-get($colors,  "black-1");
      }
    }
  }
}

.body-content ::v-deep img {
  width: 100%;
  height: auto;
}
