.detail {
    min-height: 285px;
    padding-top: 60px;
    padding-bottom: 100px;
    overflow: hidden;
    border-top: 1px solid #e7e7e7;
    background: #fff;
  }
  
  .detail .container {
    min-height: inherit;
    position: relative;
  }
  
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  
  .header {
    margin-bottom: 67px;
  }
  
  .banner {
    margin-right: 46px;
    width: 465px;
    height: 374px;
    float: left;
  
    .main {
      width: 372px;
      height: 372px;
      background-color: #fff;
      border: 1px solid #ececec;
      position: relative;
      text-align: center;
  
      img {
        // width: 100%;
        height: 100%;
      }
    }
  
    .thumb {
      width: 85px;
      height: 100%;
      position: relative;
      overflow: hidden;
  
      .thumb-container {
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.3s ease;
  
        .thumb-pic {
          width: 83px;
          height: 83px;
          margin-bottom: 11px;
          border-width: 1px;
          border-style: solid;
          background-color: #fff;
          transition: border 0.5s cubic-bezier(0, 1, 0.5, 1);
          text-align: center;
  
          img {
            // width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  
  .fl {
    float: left;
  }
  
  img {
    vertical-align: middle;
    border: none;
  }
  
  .fr {
    float: right;
  }
  
  .sku-container {
    width: 561px;
    float: left;
  
    .name {
      margin-bottom: 4px;
  
      .good-name {
        vertical-align: middle;
        line-height: 26px;
        font-size: 20px;
        color: #333;
        float: left;
      }
  
      .summary {
        width: 84%;
        line-height: 18px;
        font-size: 12px;
        color: #999;
      }
    }
  
    .card {
      margin-top: 10px;
      margin-bottom: 26px;
      padding: 10px;
      background-color: #f9f9f9;
  
      .price-line {
        margin-top: 12px;
        margin-bottom: 12px;
        height: 37px;
        overflow: hidden;
        vertical-align: bottom;
        line-height: 40px;
        font-size: 30px;
  
        .price {
          color: #c00000;
          line-height: 30px;
          overflow: hidden;
  
          .money-symbol {
            margin-right: 3px;
            font-size: 14px;
            vertical-align: 0;
          }
  
          .value {
            font-size: 30px;
            vertical-align: 0;
          }
  
          .market-price {
            margin-left: 14px;
            font-size: 12px;
            vertical-align: 0;
            text-align: line-through;
            color: #ccc;
          }
        }
      }
  
      .service-line {
        margin-bottom: 12px;
        vertical-align: bottom;
        line-height: 24px;
        font-size: 24px;
  
        .introduce-container {
          position: relative;
          overflow: visible;
          margin-left: -30px;
          cursor: pointer;
  
          .icon {
            float: left;
            box-sizing: border-box;
            margin-top: 9px;
            border: 1px solid #c00000;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            line-height: 12px;
            text-align: center;
            font-size: 10px;
            color: #c00000;
            margin-left: -30px;
            cursor: pointer;
          }
  
          .content {
            display: none;
            z-index: 10000;
  
            .content-main {
              max-height: 350px;
  
              .text-item {
                margin-top: 10px;
  
                .text-title {
                  font-size: 14px;
                  font-weight: bold;
                  color: #000;
                }
  
                .text-content {
                  font-size: 12px;
                  color: #666;
                }
  
                p {
                  font-size: 12px;
                  color: #666;
                }
              }
            }
          }
  
          .content-show {
            overflow: visible;
            display: inherit;
            position: absolute;
            color: #999;
            font-size: 14px;
            left: 60px;
            top: 30px;
          }
        }
  
        .service {
          overflow: hidden;
  
          .service-item {
            float: left;
            overflow: hidden;
            min-height: 24px;
            margin-right: 13px;
            line-height: 24px;
            font-size: 16px;
  
            .service-item-text {
              margin-left: 8px;
              line-height: 16px;
            }
          }
        }
      }
    }
  
    .sku-title {
      margin-right: 10px;
      width: 48px;
    }
  
    .address-line {
      overflow: hidden;
      padding: 0 10px 26px;
  
      .address {
        font-size: 14px;
        float: left;
        line-height: 14px;
        margin-right: 10px;
        font-weight: 400;
  
        a {
          margin-left: 10px;
          color: #666;
        }
      }
    }
  
    .count-line {
      overflow: hidden;
      margin-bottom: 24px;
  
      .count-title {
        float: left;
        line-height: 32px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  
    .virtual-line {
      margin-bottom: 40px;
    }
  
    .btn-line {
      height: 52px;
      position: relative;
  
      .buy-btn-container {
        float: left;
        overflow: hidden;
  
        a {
          margin-right: 15px;
        }
      }
  
      .favor-btn {
        float: left;
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 2px;
        color: #999;
        line-height: 12px;
        text-align: center;
        font-size: 12px;
        transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
  
        .m-icons {
          line-height: 12px;
        }
  
        .favor-follow {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-wrap: wrap;
          flex-direction: column;
          line-height: 25px;
  
          .follow {
            font-size: 18px;
            color: #999;
            line-height: 26px;
            vertical-align: middle;
          }
        }
  
        p {
          margin: 0;
        }
  
        &:hover {
          color: #fff;
          background-color: rgb(0, 159, 232);
          border-color: rgb(0, 159, 232);
  
          .m-icons-collection {
            width: 30px;
            height: 30px;
            background-position: 0 -1712px;
          }
  
          /* .m-icons-service-detail {
                          width: 30px;
                          height: 30px;
                          background-position: 0 -1542px;
                      } */
  
          .icon-a-tianjiaguanzhuguanzhu {
            font-size: 20px;
            color: #fff;
          }
        }
      }
  
      .remove-favor-btn {
        float: left;
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 2px;
        line-height: 12px;
        text-align: center;
        font-size: 12px;
        transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
        color: #fff;
        background-color: rgb(0, 159, 232);
        border-color: rgb(0, 159, 232);
  
        .m-icons-collection {
          width: 30px;
          height: 30px;
          background-position: 0 -1712px;
        }
      }
  
      .favor-service-btn {
        margin-left: 15px;
      }
    }
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
  
  .cardmodal-outer-container {
    width: 500px;
    left: -20px;
    top: -20px;
    position: relative;
    overflow: visible;
  
    .inner-container {
      position: absolute;
      box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
      border: 1px solid #e7e7e7;
      padding-top: 15px;
      padding-bottom: 15px;
      background: #fff;
  
      .container {
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        padding-left: 17px;
        padding-right: 17px;
      }
    }
  }
  
  .sku-container .card .service-line .service .service-item .m-icons,
  .sku-container .card .service-line .service .service-item span {
    vertical-align: middle;
  }
  
  .sku-container .address-line .sku-content,
  .sku-container .address-line .sku-title {
    line-height: 14px;
  }
  
  .sku-container .sku-content,
  .sku-container .sku-title {
    float: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    vertical-align: bottom;
  }
  
  .sku-container .count-line .sku-title {
    font-size: 12px;
    font-weight: 400;
    vertical-align: bottom;
  }
  
  .add-btn,
  .minus-btn {
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid #d6d6d6;
    text-align: center;
    color: #d6d6d6;
  }
  
  .count-input {
    float: left;
    width: 60px;
    height: 30px;
    padding: 0;
    border-color: #d6d6d6;
    border-style: solid;
    border-width: 1px 0;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    outline: none;
  }
  
  .add-btn-active,
  .minus-btn-active {
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid #d6d6d6;
    text-align: center;
    color: #d6d6d6;
  }
  
  .sku-container .btn-line .favor-btn .m-icons {
    line-height: 12px;
  }